@use './Card/Card.scss';

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px;

  &.main-p-i-0 {
    padding: 50px 0;
  }

  &.main--not-stretched {
    padding: 0;
  }

  &.dark-mode {
    background-color: #000;
    color: #FFF;
  }

  &.light-mode {
    background-color: #FFF;
    color: #000;
  }

  .grid {

    &__heading {
      font-size: 1.4rem;
      text-decoration: underline;
      margin-bottom: 20px;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
    }
  }
}